.comments{

    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    margin-top: 30px;

    @include bp(mobileBIG){
        max-width: 650px;
        margin: auto;
        margin-top: 30px;
    }

    @include bp(tabletMD){
        max-width: 1220px;
    }


    .content {

        display: flex;
        flex-flow: column;
        row-gap: 10px;
        width: 100%;
        background-color: $color-boxs-white;
        padding: 30px;
        border-radius: rem(15px);

        @include bp(tabletMD){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            align-items: center;
            
        }

        @include bp(laptop){
            grid-template-columns: 0.8fr 1.2fr;
            grid-gap: 30px;
            align-items: center;
            
        }

        .all_cucharitas{
            @include bp(laptop){
                display: grid;
                grid-template-columns: 1.5fr 0.5fr;
                grid-gap: 10px;
                
            }   
        }

        h2.show{
            div{
                opacity: 1;
                transform: rotate3d(0, 0, 0, 0deg) translateY(-0%);
            }
        }
    

        h2 {
            text-align: center;
            text-wrap: balance;
            font-family: $font-regular;
            font-size: rem(45px);
            color: $color-content;
            margin-bottom: 10px;
            text-transform: lowercase;

            .letter{
                display: inline-block;
            }

            @include bp(tabletMD){
                font-size: rem(55px);
            }

            @include bp(laptop){
                font-size: rem(65px);
            }

            div{
                transition: 1s ease;
                opacity: 0;
                transform: rotate3d(-1, 0, 0, 85deg) translateY(-100%);
            }

        }

        .full_name {

            @include bp(tabletMD){
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 10px;
            }

        }

        .comment-respond {

            form {

                width: 100%;

                input,
                textarea{
                    width: 100%;
                    font-family: $font-bold;
                    padding: 15px;
                    outline: none;
                    background-color: $principal_color;
                    color: $principal_text_color;
                    border: 1px solid transparent;
                    transition: .2s ease;
                    border-radius: rem(10px);
                    font-size: rem(15px);
                    margin-bottom: 10px;
                    resize: none;

                    @include bp(mobileBIG){
                        font-size: rem(16px);
                    }
            
                    @include bp(tablet){
                        font-size: rem(17px);
                    }
            
                    @include bp(laptop){
                        font-size: rem(17px);
                    }
            
                    @include bp(escritorio){
                        font-size: rem(17px);
                    }


                    &::placeholder{
                        color: $principal_text_color;
                        transition: .2s ease;
                        font-size: rem(15px);

                        @include bp(mobileBIG){
                            font-size: rem(16px);
                        }
                
                        @include bp(tablet){
                            font-size: rem(17px);
                        }
                
                        @include bp(laptop){
                            font-size: rem(17px);
                        }
                
                        @include bp(escritorio){
                            font-size: rem(17px);
                        }

                    }


                    &:focus {
                        border: 1px solid $principal_text_color;
                    }

                }

                .comment-form-review {

                    background-color: $principal_color;
                    border-radius: rem(10px);
                    padding: 15px;
                    margin-bottom: 10px;

                    @include bp(tabletMD){
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 10px;
                    }

                    @include bp(laptop){
                        margin-bottom: 0px;
                    }

                    .cucharas {

                        display: flex;
                        margin-top: 10px;

                        @include bp(laptop){
                            justify-content: flex-end;
                        }

                        div{

                            cursor: pointer;
                            padding-left: 10px;

                            svg {

                                width: 25px;
                                height: auto;
    
                                path {
    
                                    fill: $color-cucharas;
                                    transition: .2s ease;
    
                                }
    
                            }

                        }

                        div.hover{

                            svg {
    
                                path {
    
                                    fill: $principal_text_color;
    
                                }
    
                            }

                        }

                        div.active{

                            svg {
    
                                path {
    
                                    fill: $principal_text_color;
    
                                }
    
                            }

                        }


                    }


                    label {

                        font-size: rem(15px);
                        margin-bottom: 10px;
                        font-family: $font-bold;
                        color: $principal_text_color;

                        @include bp(mobileBIG){
                            font-size: rem(16px);
                        }
                
                        @include bp(tablet){
                            font-size: rem(17px);
                        }
                
                        @include bp(laptop){
                            font-size: rem(17px);
                        }
                
                        @include bp(escritorio){
                            font-size: rem(17px);
                        }

                    }

                    input {

                        display: none;

                    }

                }

                .form-submit {

                    input[type="submit"]{
                        background-color: $color-link-recetas;
                        width: 100%;
                        padding: 14px;
                        border: none;
                        border-radius: rem(10px);
                        font-size: rem(15px);
                        color: $color-boxs-white;
                        text-transform: uppercase;
                        font-family: $font-bold;
                        border: 2px solid transparent;
                        cursor: pointer;
                        margin-top: 15px;

                        &:disabled{
                            opacity: 0.6;
                            pointer-events: none;
                        }
    
                        &:hover {
    
                            border: 2px solid $color-link-recetas;
                            background-color: transparent;
                            color: $color-link-recetas;
    
                        }
    
                        @include bp(mobileBIG){
                            font-size: rem(16px);
                            width: 100%;
                            margin-top: 0px;
                            margin-bottom: 0px;
                            
                        }
                
                        @include bp(tablet){
                            font-size: rem(17px);
                        }
                
                        @include bp(laptop){
                            font-size: rem(17px);
                        }
                
                        @include bp(escritorio){
                            font-size: rem(17px);
                        }
    
                    }

                }

                input:focus::placeholder,
                textarea:focus::placeholder {
                    color: $principal_color;
                }

            }

            .column{

                @include bp(mobileBIG){
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 10px;
                }

                @include bp(laptop){
                    grid-template-columns: 1fr;
                    grid-gap: 0px;
                }

            }

            .show_review {

                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                max-width: 400px;
                background-color: $principal_text_color;
                color: $color-boxs-white;
                padding: 10px 20px;
                border-radius: rem(7px);
                column-gap: 10px;
                margin: auto;
                font-family: $font-bold;
                margin-bottom: 10px;
                font-size: rem(15px);
                resize: none;
                pointer-events: none;
                user-select: none;

                @include bp(mobileBIG){
                    margin: initial;
                    max-width: 200px;
                    width: 100%;
                    max-width: 100%;
                }

                @include bp(mobileBIG){
                    font-size: rem(16px);
                }
        
                @include bp(tablet){
                    font-size: rem(17px);
                }
        
                @include bp(laptop){
                    font-size: rem(17px);
                }

                div {

                    cursor: pointer;

                }

                svg {

                    width: 5px;
                    height: auto;

                    path {

                        fill: $color-boxs-white;

                    }

                }

            }

        }

    }
}

.successfull_message.remove{

    opacity: 0;

    .content {
        transform: translateY(-30%);
    }

}

.successfull_message.show{
    display: flex;
}

.successfull_message {

    position: fixed;
    top: 0px;
    transition: .4s ease;
    left: 0px;
    width: 100dvw;
    height: 100dvh;
    z-index: 99;
    background-color: $color-boxs-white-transparent;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    overflow: 1;
    display: none;
    

    @include keyframes(showMessage){
    
        0%{
            opacity: 0;
        }
        
        100%{
            opacity: 1;
        }

    }

    @include animate(showMessage, .4s, ease, 1);

    .content {

        background-color: $principal_text_color;
        width: 90dvw;
        max-height: 50dvh;
        border-radius: rem(20px);
        display: flex;
        flex-flow: column;
        justify-content: center;
        row-gap: 20px;
        align-items: center;
        padding: 35px 20px;
        position: relative;
        max-width: 550px;
        transition: .4s ease;
        transform: translateY(0%);

        @include keyframes(showContent){
    
            0%{
                transform: translateY(30%);
            }
            
            100%{
                transform: translateY(0%);
            }
    
        }
    
        @include animate(showContent, .4s, ease, 1);

        button{
            cursor: pointer;
        }

        .close {

            position: absolute;
            top: 35px;
            right: 20px;
            border: none;
            background-color: transparent;

            svg {

                width: 25px;
                height: auto;
                color: $color-boxs-white;

            }

        }

        h3{

            font-size: rem(65px);
            font-family: $font-regular;
            text-transform: uppercase;
            text-align: center;
            color: $color-boxs-white;
            margin-top: 0px;
            
    
            @include bp(mobileBIG){
                font-size: rem(70px);
            }
    
            @include bp(tablet){
                font-size: rem(75px);
            }
    
            @include bp(tabletMD){
                font-size: rem(80px);
            }
    
            @include bp(laptop){
                font-size: rem(90px);
            }
    
            @include bp(escritorio){
                font-size: rem(95px);
            }
    
        }

        .message {

            p {
                font-family: $font-bold;
                color: $color-boxs-white;
                font-size: rem(15px);

                @include bp(mobileBIG){
                    font-size: rem(16px);
                }

                @include bp(tablet){
                    font-size: rem(17px);
                }

                @include bp(laptop){
                    font-size: rem(17px);
                }

                @include bp(escritorio){
                    font-size: rem(19px);
                }
            }

        }

        .button_close {

            background-color: $color-content;
            color: $color-boxs-white;
            width: 100%;
            padding: 10px;
            border-radius: rem(7px);
            border: none;
            font-size: rem(17px);
            font-family: $font-bold;
            border: 2px solid transparent;
            transition: .2s ease;

            &:hover {

                border: 2px solid $color-content;
                background-color: transparent;
                color: $color-content;

            }

            @include bp(mobileBIG){
                width: fit-content;
                padding: 10px 20px;
            }

        }

        .box_close {

            width: 100%;
            display: flex;
            justify-content: center;

            @include bp(mobileBIG){
                justify-content: flex-end;
            }

        }

    }

}