.contact-home {

    padding: 40px 10px;
    margin-top: 40px;
    background-color: $color-background;

    @include bp(tablet){
        margin-top: 50px;
        padding-top: 50px;
    }

    @include bp(tabletMD){
        margin-top: 0px;
        padding-top: 60px;
        padding-bottom: 80px;
    }

    @include bp(laptop){
        padding-top: 70px;
        padding-bottom: 90px;
    }

    @include bp(laptop){

        margin-top: 0px;
        // min-height: 100dvh;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

    }

    h2.show{
        div{
            opacity: 1;
            transform: rotate3d(0, 0, 0, 0deg) translateY(-0%);
        }
    }


    h2 {

        font-size: rem(55px);
        font-family: $font-regular;
        text-transform: lowercase;
        text-align: center;
        color: $color-boxs-white;
        margin: 0px auto auto auto;
        text-wrap: balance;
        margin-bottom: 30px;
        padding-top: 5px;

        div{
            transition: 1s ease;
            opacity: 0;
            transform: rotate3d(-1, 0, 0, 85deg) translateY(-100%);
        }


        @include bp(mobileBIG){
            font-size: rem(60px);
            max-width: 650px;
        }
        

        @include bp(tablet){
            font-size: rem(65px);
        }

        @include bp(tabletMD){
            font-size: rem(70px);
            max-width: 1220px;
            padding-top: 20px;
        }

        @include bp(laptop){
            font-size: rem(80px);
        }

        @include bp(escritorio){
            font-size: rem(85px);
        }


        .letter {
            display: inline-block;
            transform: translateY(205%);
        }


    }

    .all {

        @include bp(tabletMD){

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
            max-width: 1220px;

        }

        @include bp(laptop){

            grid-template-columns: 0.9fr 1.1fr;

        }

        @include bp(escritorio){

            grid-template-columns: 0.8fr 1.2fr;

        }

        .information.show{

            .video{
                transform: translateX(0%) scale(1);
                opacity: 1;

                @include bp(tabletMD){
                    transform: translateY(0%) scale(1);
                }

            }

        }


        .information {

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            width: 100%;
            margin: auto;
            align-content: center;
            

            @include bp(tabletMD){
                height: 100%;
            }

            @include bp(mobileBIG){

                max-width: 650px;
                grid-gap: 30px;

            }

            @include bp(tabletMD){

                max-width: 1220px;

            }

            .video {

                width: 100%;
                border-radius: 18px;
                max-height: 500px;
                display: flex;
                align-items: center;
                transform: translateX(-100%) scale(0.7);
                transition: 0.8s ease;
                opacity: 0;
                overflow: hidden;

                @include bp(tabletMD){
                    max-height: 50dvh;
                    transform: translateY(100%) scale(0.7);
                }

                .wp-video,
                .mejs-container{

                    width: 100% !important;
                    height: 100% !important;

                    .mejs-container * {

                        display: flex;
                        
                        mediaelementwrapper {
                            width: 100%;
                        }

                    }

                }

            }

            .text {

                font-family: $font-bold;
                color: $secundary_color;
                font-size: rem(15px);

                @include bp(mobileBIG){
                    font-size: rem(16px);
                }
        
                @include bp(tablet){
                    font-size: rem(17px);
                }

                @include bp(tabletMD){
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                }
        
                @include bp(laptop){
                    font-size: rem(17px);
                }
        
                @include bp(escritorio){
                    font-size: rem(17px);
                }

                strong {

                    color: $color-boxs-white;

                }

            }

        }

        .widget {

            background-color: $color-contact;
            margin: 30px auto auto auto;
            border-radius: rem(20px);
            padding: 30px;
            transition: 0.8s ease;

            @include bp(mobileBIG){

                max-width: 650px;

            }

            @include bp(tabletMD){
                margin: 0px auto auto auto;
            }

            @include bp(tabletMD){
                max-width: 1220px;
            }

            .header {

                display: flex;
                align-items: center;
                flex-flow: column;
                row-gap: 5px;

                @include bp(laptop){
                    flex-flow: row;
                    justify-content: center;
                    column-gap: 15px;
                    margin-top: 15px;
                }

                img {

                    width: 100%;
                    max-width: 175px;

                }

                h4 {
                    font-family: $font-bold;
                    font-size: rem(25px);
                    color: $principal_text_color;
                }

            }

            form {

                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;

                p {

                    width: 100%;

                    @include bp(mobileBIG){
                        &:nth-of-type(1),
                        &:nth-of-type(2),
                        &:nth-of-type(4),
                        &:nth-of-type(5){
                            width: calc(50% - 10px);
                        }
                    }

                }

                label {
                    width: 100%;
                    display: block;

                    input,
                    select{
                        width: 100%;
                        font-family: $font-bold;
                        padding: 15px;
                        outline: none;
                        background-color: $color-boxs-white;
                        color: $principal_text_color;
                        border: 1px solid transparent;
                        transition: .2s ease;
                        border-radius: rem(10px);
                        font-size: rem(15px);

                        @include bp(mobileBIG){
                            font-size: rem(16px);
                        }
                
                        @include bp(tablet){
                            font-size: rem(17px);
                        }
                
                        @include bp(laptop){
                            font-size: rem(17px);
                        }
                
                        @include bp(escritorio){
                            font-size: rem(17px);
                        }

                        &::placeholder{
                            color: $principal_text_color;
                            transition: .2s ease;
                            font-size: rem(15px);

                            @include bp(mobileBIG){
                                font-size: rem(16px);
                            }
                    
                            @include bp(tablet){
                                font-size: rem(17px);
                            }
                    
                            @include bp(laptop){
                                font-size: rem(17px);
                            }
                    
                            @include bp(escritorio){
                                font-size: rem(17px);
                            }

                        }


                        &:focus {
                            border: 1px solid $principal_text_color;
                        }

                    }

                    input:focus::placeholder {
                        color: $color-boxs-white;
                    }


                }

                input[type="checkbox"]{
                    accent-color: $principal_text_color;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                }

                input[type="checkbox"]::before{
                    display: none;
                }

                .send {

                    display: flex;
                    flex-flow: row-reverse;
                    margin-top: 20px;

                }

                .wpcf7-response-output {

                    padding: 0px;
                    margin: 20px 0px 0px 0px;
                    border: none;
                    font-size: rem(15px);
                    font-family: $font-bold;

                    @include bp(mobileBIG){
                        font-size: rem(16px);
                    }
            
                    @include bp(tablet){
                        font-size: rem(17px);
                    }
            
                    @include bp(laptop){
                        font-size: rem(17px);
                    }
            
                    @include bp(escritorio){
                        font-size: rem(17px);
                    }

                }

                input[type="submit"]{
                    background-color: $color-link-recetas;
                    width: 50%;
                    padding: 14px;
                    border: none;
                    border-radius: rem(10px);
                    font-size: rem(15px);
                    color: $color-boxs-white;
                    text-transform: uppercase;
                    font-family: $font-bold;
                    border: 2px solid transparent;
                    cursor: pointer;

                    &:hover {

                        border: 2px solid $color-link-recetas;
                        background-color: transparent;
                        color: $color-link-recetas;

                    }

                    @include bp(mobileBIG){
                        font-size: rem(16px);
                        width: calc(50% - 10px);
                    }
            
                    @include bp(tablet){
                        font-size: rem(17px);
                    }
            
                    @include bp(laptop){
                        font-size: rem(17px);
                    }
            
                    @include bp(escritorio){
                        font-size: rem(17px);
                    }

                }

                .wpcf7-list-item-label {
                    color: $secundary_color;
                    cursor: pointer;
                }

                .wpcf7-list-item,
                span {
                    margin-left: 0px;
                    margin-top: 12px;
                    font-family: $font-bold;
                    font-size: rem(15px);

                    @include bp(mobileBIG){
                        font-size: rem(16px);
                    }
            
                    @include bp(tablet){
                        font-size: rem(17px);
                    }
            
                    @include bp(laptop){
                        font-size: rem(17px);
                    }
            
                    @include bp(escritorio){
                        font-size: rem(17px);
                    }
                }

            }

        }


    }

}


@keyframes entryElement {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}