.information_section {

    padding: 30px 20px;
    display: flex;
    flex-flow: column;
    align-items: center;

    @include bp(tabletMD){
        padding-top: 50px;
    }

    @include bp(laptop){
        padding-top: 60px;
    }

    h2.show{
        div{
            opacity: 1;
            transform: rotate3d(0, 0, 0, 0deg) translateY(-0%);
        }
    }

    h2 {

        background-color: $color-background;
        width: fit-content;
        padding: 10px;
        border-radius: rem(10px);
        color: $color-content;
        font-family: $font-regular;
        padding-top: 14px;
        font-size: rem(28px);

        div{
            transition: 1s ease;
            opacity: 0;
            transform: rotate3d(-1, 0, 0, 85deg) translateY(-100%);
        }

        .letter{
            display: inline-block;
        }


        @include bp(tabletMD){
            font-size: rem(45px);
            padding-top: 17px;
        }

        @include bp(laptop){
            font-size: rem(50px);
            padding-top: 19px;
        }


    }

    .img {

        @include bp(mobileBIG){
            max-width: 650px;
            margin: auto;
            pointer-events: none;
            user-select: none;
        }

        @include bp(tabletMD){
            max-width: 1220px;
        }

        img{

            width: 100%;
            height: auto;
            margin-top: 15px;
            transform: translateY(15%) scale(0.7);
            opacity: 0;
            transition: .7s ease;
        }

        img.show{
            transform: translateY(0%) scale(1);
            opacity: 1;
        }

        .mobile {
            display: block;
            @include bp(tablet){
                display: none;
            }
        }

        .escritorio {
            display: none;
            @include bp(tablet){
                display: block;
            }
        }

    }

}