.recetas-header{
    width: 100%;
    margin-top: 115px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;

    @include bp(mobileBIG){
        max-width: 650px;
        margin: 115px auto auto auto;
    }

    @include bp(tablet){
        margin-top: 158px;
    }

    @include bp(tabletMD){
        max-width: 1220px;
    }

    @include bp(laptop){
        margin-top: 150px;
    }

    h1.show{
        div{
            opacity: 1;
            transform: rotate3d(0, 0, 0, 0deg) translateY(-0%);
        }
    }

    h1{

        font-size: rem(65px);
        font-family: $font-regular;
        text-transform: lowercase;
        text-align: center;
        color: $secundary_color;
        margin-top: 0px;
        padding-top: 25px;

        div{
            transition: 1s ease;
            opacity: 0;
            transform: rotate3d(-1, 0, 0, 85deg) translateY(-100%);
        }
        

        @include bp(mobileBIG){
            font-size: rem(70px);
        }

        @include bp(tablet){
            font-size: rem(75px);
        }

        @include bp(tabletMD){
            font-size: rem(80px);
        }

        @include bp(laptop){
            font-size: rem(90px);
        }

        @include bp(escritorio){
            font-size: rem(95px);
        }

        .letter {
            display: inline-block;
        }

    }

    .content{

        font-family: $font-bold;
        font-size: rem(15px);
        color: $principal_text_color;
        margin-top: rem(10px);

        @include bp(mobileBIG){
            font-size: rem(16px);
        }

        @include bp(tablet){
            font-size: rem(17px);
        }

        @include bp(laptop){
            font-size: rem(17px);
        }

        @include bp(escritorio){
            font-size: rem(17px);
        }

    }

}