@use 'sass:math';
// Fonts

@font-face {
    font-family: chillow_regular;
    src: url(../../assets/fonts/ChillowRegular.otf);
}

@font-face {
    font-family: tex_readventor;
    src: url(../../assets/fonts/TexgyreadventorBold.otf);
}


// Colors
$principal_color: #F1F7E7;
$secundary_color: #335C3C;
$principal_text_color: #80BC00;
$color-boxs-white: #FFFFFF;
$color-link-recetas: #F6572E;
$color-background: #AEDB68;
$color-contact: #E0F0C7;
$color-content: #225D38;
$color-cucharas: #c8c8c8;
$color-boxs-white-transparent: #f1f7e796;

// Fonts var
// Fonsts vars
$font-regular: chillow_regular;
$font-bold: tex_readventor;

// Mixins
@mixin bp($point) {
    @if $point == escritorio {
        @media (min-width: 1600px) { @content; }
    }

    @else if $point == laptopBIG {
        @media (min-width: 1220px) { @content; }
    }

    @else if $point == laptop {
        @media (min-width: 1100px) { @content; }
    }

    @else if $point == tabletMD {
        @media (min-width: 901px)  { @content; }
    }

    @else if $point == tablet {
        @media (min-width: 700px)  { @content; }
    }

    @else if($point == mobileBIG){
        @media (min-width: 550px)  { @content; }
    }
}

// Animation
@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}
@mixin animate($name, $duration, $type, $loop){
    animation: $name $duration $type $loop;
}

// Convert px to rem
@function rem($pxValue) {
    @return math.div($pxValue, 16px) * 1rem; 
}
