@import './resets/normalize';
@import './variables';
@import './components/leaves';
@import './pages/recetas';
@import './pages/sliders';
@import './pages/contact';
@import './components/footer';
@import './pages/individual_recetas';
@import './pages/history';
@import './pages/information';
@import './pages/bienestar';
@import './pages/comments'; 
@import './components/loading'; 

html {
    scrollbar-gutter: stable;
}

body{
    background-color: $principal_color;
    overflow-x: hidden;
    position: relative;
} 

main{
    position: relative;
}

.elementor-location-header{
    z-index: 99999 !important;
}