body,
*,
html {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: chillow_regular;
  src: url(../../assets/fonts/ChillowRegular.otf);
}
@font-face {
  font-family: tex_readventor;
  src: url(../../assets/fonts/TexgyreadventorBold.otf);
}
.leaves {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100dvw;
  height: 100dvh;
  pointer-events: none;
  user-select: none;
  z-index: 999;
}
.leaves .leave {
  display: block;
  position: fixed;
  transition: 15s linear;
  top: -5%;
  width: 20px;
  height: 20px;
}
@media (min-width: 700px) {
  .leaves .leave {
    width: 30px;
    height: 30px;
  }
}
.leaves .leave img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.leaves .leave img.reverse {
  animation: leaveReverseAnimation 4s ease infinite;
}
@keyframes leaveReverseAnimation {
  0% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(50deg);
  }
}
.leaves .leave img.normal {
  animation: leaveNormalAnimation 4s ease infinite;
}
@keyframes leaveNormalAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.recetas-header {
  width: 100%;
  margin-top: 115px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}
@media (min-width: 550px) {
  .recetas-header {
    max-width: 650px;
    margin: 115px auto auto auto;
  }
}
@media (min-width: 700px) {
  .recetas-header {
    margin-top: 158px;
  }
}
@media (min-width: 901px) {
  .recetas-header {
    max-width: 1220px;
  }
}
@media (min-width: 1100px) {
  .recetas-header {
    margin-top: 150px;
  }
}
.recetas-header h1.show div {
  opacity: 1;
  transform: rotate3d(0, 0, 0, 0deg) translateY(0%);
}
.recetas-header h1 {
  font-size: 4.0625rem;
  font-family: chillow_regular;
  text-transform: lowercase;
  text-align: center;
  color: #335C3C;
  margin-top: 0px;
  padding-top: 25px;
}
.recetas-header h1 div {
  transition: 1s ease;
  opacity: 0;
  transform: rotate3d(-1, 0, 0, 85deg) translateY(-100%);
}
@media (min-width: 550px) {
  .recetas-header h1 {
    font-size: 4.375rem;
  }
}
@media (min-width: 700px) {
  .recetas-header h1 {
    font-size: 4.6875rem;
  }
}
@media (min-width: 901px) {
  .recetas-header h1 {
    font-size: 5rem;
  }
}
@media (min-width: 1100px) {
  .recetas-header h1 {
    font-size: 5.625rem;
  }
}
@media (min-width: 1600px) {
  .recetas-header h1 {
    font-size: 5.9375rem;
  }
}
.recetas-header h1 .letter {
  display: inline-block;
}
.recetas-header .content {
  font-family: tex_readventor;
  font-size: 0.9375rem;
  color: #80BC00;
  margin-top: 0.625rem;
}
@media (min-width: 550px) {
  .recetas-header .content {
    font-size: 1rem;
  }
}
@media (min-width: 700px) {
  .recetas-header .content {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1100px) {
  .recetas-header .content {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1600px) {
  .recetas-header .content {
    font-size: 1.0625rem;
  }
}

.leavesContainer {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;
  overflow: hidden;
  height: 100%;
  pointer-events: none;
  user-select: none;
  z-index: 999;
}
.leavesContainer .transparent {
  height: 100%;
}
.leavesContainer .transparent img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
@media (min-width: 700px) {
  .leavesContainer .transparent img {
    width: 30px;
    height: 30px;
  }
}
.leavesContainer .transparent img:nth-of-type(1) {
  position: absolute;
  right: 50%;
  top: 15%;
}
@media (min-width: 1100px) {
  .leavesContainer .transparent img:nth-of-type(1) {
    left: 8%;
    top: 0%;
    display: none;
  }
}
.leavesContainer .transparent img:nth-of-type(2) {
  position: absolute;
  left: 6%;
  top: 5%;
}
@media (min-width: 1100px) {
  .leavesContainer .transparent img:nth-of-type(2) {
    right: 3%;
  }
}
.leavesContainer .transparent img:nth-of-type(3) {
  position: absolute;
  left: 1%;
  top: 23%;
}
@media (min-width: 1100px) {
  .leavesContainer .transparent img:nth-of-type(3) {
    left: calc(4% - 15pxpx);
    top: 40%;
  }
}
.leavesContainer .transparent img:nth-of-type(4) {
  position: absolute;
  right: calc(0% - 10px);
  top: 38%;
  display: none;
}
@media (min-width: 1100px) {
  .leavesContainer .transparent img:nth-of-type(4) {
    left: 15%;
    top: 65%;
  }
}
.leavesContainer .transparent img:nth-of-type(5) {
  position: absolute;
  left: calc(0% - 10px);
  top: 45%;
}
@media (min-width: 1100px) {
  .leavesContainer .transparent img:nth-of-type(5) {
    left: 90%;
    top: 60%;
  }
}
.leavesContainer .transparent img:nth-of-type(6) {
  position: absolute;
  left: 2%;
  top: 55%;
}
@media (min-width: 1100px) {
  .leavesContainer .transparent img:nth-of-type(6) {
    left: 15%;
    top: 50%;
  }
}
.leavesContainer .transparent img:nth-of-type(7) {
  position: absolute;
  right: 1%;
  top: 70%;
}
@media (min-width: 1100px) {
  .leavesContainer .transparent img:nth-of-type(7) {
    left: 50%;
    top: 90%;
  }
}
.leavesContainer .transparent img:nth-of-type(8) {
  position: absolute;
  left: 1%;
  top: 90%;
}
@media (min-width: 1100px) {
  .leavesContainer .transparent img:nth-of-type(8) {
    left: 90%;
    top: 85%;
  }
}
.leavesContainer .green {
  height: 100%;
}
.leavesContainer .green img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
@media (min-width: 700px) {
  .leavesContainer .green img {
    width: 30px;
    height: 30px;
  }
}
.leavesContainer .green img:nth-of-type(1) {
  position: absolute;
  right: 1%;
  top: 5%;
}
@media (min-width: 1100px) {
  .leavesContainer .green img:nth-of-type(1) {
    right: 8%;
    top: 9%;
  }
}
.leavesContainer .green img:nth-of-type(2) {
  position: absolute;
  right: 43%;
  top: 20%;
}
@media (min-width: 1100px) {
  .leavesContainer .green img:nth-of-type(2) {
    right: 3%;
  }
}
.leavesContainer .green img:nth-of-type(3) {
  position: absolute;
  right: 1%;
  top: 30%;
}
@media (min-width: 1100px) {
  .leavesContainer .green img:nth-of-type(3) {
    left: 8%;
    top: 23%;
  }
}
.leavesContainer .green img:nth-of-type(4) {
  position: absolute;
  left: calc(0% - 10px);
  top: 38%;
}
@media (min-width: 1100px) {
  .leavesContainer .green img:nth-of-type(4) {
    left: 7%;
    top: 60%;
  }
}
.leavesContainer .green img:nth-of-type(5) {
  position: absolute;
  left: calc(0% - 10px);
  top: 38%;
}
@media (min-width: 1100px) {
  .leavesContainer .green img:nth-of-type(5) {
    left: 97%;
    top: 74%;
  }
}
.leavesContainer .green img:nth-of-type(6) {
  position: absolute;
  right: 2%;
  top: 48%;
}
@media (min-width: 1100px) {
  .leavesContainer .green img:nth-of-type(6) {
    left: 0%;
    top: 85%;
  }
}
.leavesContainer .green img:nth-of-type(7) {
  position: absolute;
  left: 1%;
  top: 68%;
}
@media (min-width: 1100px) {
  .leavesContainer .green img:nth-of-type(7) {
    display: none;
  }
}
.leavesContainer .green img:nth-of-type(8) {
  position: absolute;
  right: 1%;
  top: 88%;
}
@media (min-width: 1100px) {
  .leavesContainer .green img:nth-of-type(8) {
    display: none;
  }
}

.recetas-header {
  position: relative;
}
@media (min-width: 901px) {
  .recetas-header .content_mobile {
    display: none;
  }
}
.recetas-header .content_mobile .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
  margin-top: 25px;
  max-width: 400px;
}
@media (min-width: 700px) {
  .recetas-header .content_mobile .content {
    max-width: 800px;
  }
}
@media (min-width: 901px) {
  .recetas-header .content_mobile .content {
    display: initial;
    margin-top: initial;
  }
}
.recetas-header .content_mobile .content .item.show {
  transform: translateY(0%);
  opacity: 1;
}
.recetas-header .content_mobile .content .item.show .image {
  transform: scale(1);
}
.recetas-header .content_mobile .content .item.show .information h3 {
  transform: translateY(0%);
  text-transform: uppercase;
}
.recetas-header .content_mobile .content .item {
  width: calc(50% - 5px);
  background-color: #FFFFFF;
  max-width: 280px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  border-radius: 1.25rem;
  padding: 95px 15px 15px 15px;
  text-decoration: none;
  transition: 0.7s ease;
  transform: translateY(20%);
  box-shadow: 0 0.125rem 0.25rem transparent;
  margin-top: 45px;
  opacity: 0;
  /*
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: showItem;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;

  @include bp(tablet){
      width: calc(33% - 6.66px);
  }


  @keyframes showItem {
      from {
          opacity: 0;
      }

      to {
          opacity: 1;
      }
  }*/
}
.recetas-header .content_mobile .content .item:nth-of-type(1), .recetas-header .content_mobile .content .item:nth-of-type(2) {
  margin-top: 25px;
}
@media (min-width: 700px) {
  .recetas-header .content_mobile .content .item:nth-of-type(1), .recetas-header .content_mobile .content .item:nth-of-type(2) {
    margin-top: 25px;
  }
}
@media (min-width: 901px) {
  .recetas-header .content_mobile .content .item {
    width: 100%;
  }
}
.recetas-header .content_mobile .content .item .image {
  display: block;
  width: 95%;
  position: absolute;
  top: -20%;
  max-width: 280px;
  display: flex;
  justify-content: center;
  pointer-events: none;
  transition: 0.7s ease;
  transform: scale(0.8);
}
.recetas-header .content_mobile .content .item .image img {
  width: 100%;
  max-width: 150px;
  height: auto;
  object-fit: contain;
  transform: scale(1);
  transition: 0.5s ease;
}
.recetas-header .content_mobile .content .item .information h3 {
  text-align: center;
  color: #80BC00;
  font-family: tex_readventor;
  font-size: 1.25rem;
  transition: 0.9s ease;
  transform: translateY(15%);
  text-transform: uppercase;
}
.recetas-header .content_mobile .content .item .information button {
  text-decoration: none;
  width: 100%;
  background-color: #F6572E;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 0.625rem;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 0.625rem;
  font-family: tex_readventor;
  text-transform: uppercase;
  color: #FFFFFF;
}
.recetas-header .slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recetas-header .slider .content {
  width: 100dvw;
  height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: none;
  margin-top: 15px;
}
@media (min-width: 901px) {
  .recetas-header .slider .content {
    display: flex;
  }
}
@media (min-width: 1100px) {
  .recetas-header .slider .content {
    margin-top: 25px;
  }
}
.recetas-header .slider .content .items {
  width: 100%;
  padding: 0px 10px;
  display: flex;
  column-gap: 30px;
  justify-content: center;
  flex-flow: row;
  position: absolute;
  transition: 1s ease;
  transform: translateX(0%);
}
@media (min-width: 1100px) {
  .recetas-header .slider .content .items {
    padding: 0px 0px;
    max-width: 1220px;
  }
}
.recetas-header .slider .content .items .item {
  width: 100%;
  background-color: #FFFFFF;
  max-width: 280px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  border-radius: 1.25rem;
  padding: 15px;
  text-decoration: none;
  transition: 0.4s ease;
  transform: translateX(0%) translateY(15%) scale(1);
  box-shadow: 0 0.125rem 0.25rem transparent;
  padding-top: 180px;
}
.recetas-header .slider .content .items .item:hover {
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.recetas-header .slider .content .items .item:hover .information button {
  border: 2px solid #F6572E;
  background-color: transparent;
  color: #F6572E;
}
.recetas-header .slider .content .items .item:hover .image img {
  transform: scale(1.06);
}
.recetas-header .slider .content .items .item .image {
  display: block;
  width: 85%;
  position: absolute;
  top: -20%;
  max-width: 280px;
  pointer-events: none;
  transform: translateY(0%) scale(1);
  transition: 1.5s ease;
}
.recetas-header .slider .content .items .item .image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  transform: scale(1);
  transition: 0.5s ease;
}
.recetas-header .slider .content .items .item .information {
  width: 100%;
}
.recetas-header .slider .content .items .item .information h3 {
  text-align: center;
  color: #80BC00;
  font-family: tex_readventor;
  font-size: 1.4375rem;
  text-wrap: balance;
  text-transform: uppercase;
}
.recetas-header .slider .content .items .item .information button {
  text-decoration: none;
  width: 100%;
  background-color: #F6572E;
  padding: 15px 0px;
  border: 2px solid transparent;
  border-radius: 0.625rem;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 0.875rem;
  font-family: tex_readventor;
  text-transform: uppercase;
  color: #FFFFFF;
}
.recetas-header .slider .content .items.right {
  transform: translateX(150%) scale(0.5);
}
.recetas-header .slider .content .items.right .image {
  transform: translateY(10%) scale(0.6);
}
.recetas-header .slider .content .items.left {
  transform: translateX(-150%) scale(0.5);
}
.recetas-header .slider .content .items.left .image {
  transform: translateY(10%) scale(0.6);
}
.recetas-header .slider .content .items.show .item {
  transform: translateX(0%) translateY(0%) scale(1);
  opacity: 1;
  animation: showSlider 0.9s ease 1;
}
.recetas-header .slider .content .items.show .item:hover {
  transform: translateX(0%) translateY(0%) scale(1.05);
}
@keyframes showSlider {
  0% {
    transform: translateX(0%) translateY(25%) scale(1);
    opacity: 0;
  }
  100% {
    transform: translateX(0%) translateY(0%) scale(1);
    opacity: 1;
  }
}
.recetas-header .slider .content .items.show .item .image {
  transform: scale(1);
  animation: animatonImage 0.9s ease 1;
}
@keyframes animatonImage {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
.recetas-header .slider .controls {
  display: none;
}
@media (min-width: 901px) {
  .recetas-header .slider .controls {
    display: block;
  }
}
.recetas-header .slider .controls button {
  position: absolute;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  transform: translateY(-50px) scale(1);
  transition: 0.2s ease;
}
.recetas-header .slider .controls button:disabled {
  opacity: 0.4;
  cursor: no-drop;
  pointer-events: none;
}
.recetas-header .slider .controls button:hover {
  transform: translateY(-50px) scale(1.09);
}
.recetas-header .slider .controls button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recetas-header .slider .controls button.prev {
  left: 30px;
}
@media (min-width: 1600px) {
  .recetas-header .slider .controls button.prev {
    left: 50px;
  }
}
.recetas-header .slider .controls button.next {
  right: 30px;
  transform: translateY(-50px) scale(1) rotate(180deg);
}
@media (min-width: 1600px) {
  .recetas-header .slider .controls button.next {
    right: 50px;
  }
}
.recetas-header .slider .controls button.next:hover {
  transform: translateY(-50px) scale(1.09) rotate(180deg);
}

.contact-home {
  padding: 40px 10px;
  margin-top: 40px;
  background-color: #AEDB68;
}
@media (min-width: 700px) {
  .contact-home {
    margin-top: 50px;
    padding-top: 50px;
  }
}
@media (min-width: 901px) {
  .contact-home {
    margin-top: 0px;
    padding-top: 60px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1100px) {
  .contact-home {
    padding-top: 70px;
    padding-bottom: 90px;
  }
}
@media (min-width: 1100px) {
  .contact-home {
    margin-top: 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}
.contact-home h2.show div {
  opacity: 1;
  transform: rotate3d(0, 0, 0, 0deg) translateY(0%);
}
.contact-home h2 {
  font-size: 3.4375rem;
  font-family: chillow_regular;
  text-transform: lowercase;
  text-align: center;
  color: #FFFFFF;
  margin: 0px auto auto auto;
  text-wrap: balance;
  margin-bottom: 30px;
  padding-top: 5px;
}
.contact-home h2 div {
  transition: 1s ease;
  opacity: 0;
  transform: rotate3d(-1, 0, 0, 85deg) translateY(-100%);
}
@media (min-width: 550px) {
  .contact-home h2 {
    font-size: 3.75rem;
    max-width: 650px;
  }
}
@media (min-width: 700px) {
  .contact-home h2 {
    font-size: 4.0625rem;
  }
}
@media (min-width: 901px) {
  .contact-home h2 {
    font-size: 4.375rem;
    max-width: 1220px;
    padding-top: 20px;
  }
}
@media (min-width: 1100px) {
  .contact-home h2 {
    font-size: 5rem;
  }
}
@media (min-width: 1600px) {
  .contact-home h2 {
    font-size: 5.3125rem;
  }
}
.contact-home h2 .letter {
  display: inline-block;
  transform: translateY(205%);
}
@media (min-width: 901px) {
  .contact-home .all {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    max-width: 1220px;
  }
}
@media (min-width: 1100px) {
  .contact-home .all {
    grid-template-columns: 0.9fr 1.1fr;
  }
}
@media (min-width: 1600px) {
  .contact-home .all {
    grid-template-columns: 0.8fr 1.2fr;
  }
}
.contact-home .all .information.show .video {
  transform: translateX(0%) scale(1);
  opacity: 1;
}
.contact-home .all .information.show .video .mejs-fullscreen-button {
  display: none !important;
}
.contact-home .all .information.show .video video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
@media (min-width: 901px) {
  .contact-home .all .information.show .video {
    transform: translateY(0%) scale(1);
  }
}
.contact-home .all .information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 100%;
  margin: auto;
  align-content: center;
}
@media (min-width: 901px) {
  .contact-home .all .information {
    height: 100%;
  }
}
@media (min-width: 550px) {
  .contact-home .all .information {
    max-width: 650px;
    grid-gap: 30px;
  }
}
@media (min-width: 901px) {
  .contact-home .all .information {
    max-width: 1220px;
  }
}
.contact-home .all .information .video {
  width: 100%;
  border-radius: 18px;
  max-height: 500px;
  display: flex;
  align-items: center;
  transform: translateX(-100%) scale(0.7);
  transition: 0.8s ease;
  opacity: 0;
  overflow: hidden;
}
@media (min-width: 901px) {
  .contact-home .all .information .video {
    max-height: 50dvh;
    transform: translateY(100%) scale(0.7);
  }
}
.contact-home .all .information .video .wp-video,
.contact-home .all .information .video .mejs-container {
  width: 100% !important;
  height: 100% !important;
}
.contact-home .all .information .video .wp-video .mejs-container *,
.contact-home .all .information .video .mejs-container .mejs-container * {
  display: flex;
}
.contact-home .all .information .video .wp-video .mejs-container * mediaelementwrapper,
.contact-home .all .information .video .mejs-container .mejs-container * mediaelementwrapper {
  width: 100%;
}
.contact-home .all .information .text {
  font-family: tex_readventor;
  color: #335C3C;
  font-size: 0.9375rem;
}
@media (min-width: 550px) {
  .contact-home .all .information .text {
    font-size: 1rem;
  }
}
@media (min-width: 700px) {
  .contact-home .all .information .text {
    font-size: 1.0625rem;
  }
}
@media (min-width: 901px) {
  .contact-home .all .information .text {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
}
@media (min-width: 1100px) {
  .contact-home .all .information .text {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1600px) {
  .contact-home .all .information .text {
    font-size: 1.0625rem;
  }
}
.contact-home .all .information .text strong {
  color: #FFFFFF;
}
.contact-home .all .widget {
  background-color: #E0F0C7;
  margin: 30px auto auto auto;
  border-radius: 1.25rem;
  padding: 30px;
  transition: 0.8s ease;
}
@media (min-width: 550px) {
  .contact-home .all .widget {
    max-width: 650px;
  }
}
@media (min-width: 901px) {
  .contact-home .all .widget {
    margin: 0px auto auto auto;
  }
}
@media (min-width: 901px) {
  .contact-home .all .widget {
    max-width: 1220px;
  }
}
.contact-home .all .widget .header {
  display: flex;
  align-items: center;
  flex-flow: column;
  row-gap: 5px;
}
@media (min-width: 1100px) {
  .contact-home .all .widget .header {
    flex-flow: row;
    justify-content: center;
    column-gap: 15px;
    margin-top: 15px;
  }
}
.contact-home .all .widget .header img {
  width: 100%;
  max-width: 175px;
}
.contact-home .all .widget .header h4 {
  font-family: tex_readventor;
  font-size: 1.5625rem;
  color: #80BC00;
}
.contact-home .all .widget form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.contact-home .all .widget form p {
  width: 100%;
}
@media (min-width: 550px) {
  .contact-home .all .widget form p:nth-of-type(1), .contact-home .all .widget form p:nth-of-type(2), .contact-home .all .widget form p:nth-of-type(4), .contact-home .all .widget form p:nth-of-type(5) {
    width: calc(50% - 10px);
  }
}
.contact-home .all .widget form label {
  width: 100%;
  display: block;
}
.contact-home .all .widget form label input,
.contact-home .all .widget form label select {
  width: 100%;
  font-family: tex_readventor;
  padding: 15px;
  outline: none;
  background-color: #FFFFFF;
  color: #80BC00;
  border: 1px solid transparent;
  transition: 0.2s ease;
  border-radius: 0.625rem;
  font-size: 0.9375rem;
}
@media (min-width: 550px) {
  .contact-home .all .widget form label input,
  .contact-home .all .widget form label select {
    font-size: 1rem;
  }
}
@media (min-width: 700px) {
  .contact-home .all .widget form label input,
  .contact-home .all .widget form label select {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1100px) {
  .contact-home .all .widget form label input,
  .contact-home .all .widget form label select {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1600px) {
  .contact-home .all .widget form label input,
  .contact-home .all .widget form label select {
    font-size: 1.0625rem;
  }
}
.contact-home .all .widget form label input::placeholder,
.contact-home .all .widget form label select::placeholder {
  color: #80BC00;
  transition: 0.2s ease;
  font-size: 0.9375rem;
}
@media (min-width: 550px) {
  .contact-home .all .widget form label input::placeholder,
  .contact-home .all .widget form label select::placeholder {
    font-size: 1rem;
  }
}
@media (min-width: 700px) {
  .contact-home .all .widget form label input::placeholder,
  .contact-home .all .widget form label select::placeholder {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1100px) {
  .contact-home .all .widget form label input::placeholder,
  .contact-home .all .widget form label select::placeholder {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1600px) {
  .contact-home .all .widget form label input::placeholder,
  .contact-home .all .widget form label select::placeholder {
    font-size: 1.0625rem;
  }
}
.contact-home .all .widget form label input:focus,
.contact-home .all .widget form label select:focus {
  border: 1px solid #80BC00;
}
.contact-home .all .widget form label input:focus::placeholder {
  color: #FFFFFF;
}
.contact-home .all .widget form input[type=checkbox] {
  accent-color: #80BC00;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.contact-home .all .widget form input[type=checkbox]::before {
  display: none;
}
.contact-home .all .widget form .send {
  display: flex;
  flex-flow: row-reverse;
  margin-top: 20px;
}
.contact-home .all .widget form .wpcf7-response-output {
  padding: 0px;
  margin: 20px 0px 0px 0px;
  border: none;
  font-size: 0.9375rem;
  font-family: tex_readventor;
}
@media (min-width: 550px) {
  .contact-home .all .widget form .wpcf7-response-output {
    font-size: 1rem;
  }
}
@media (min-width: 700px) {
  .contact-home .all .widget form .wpcf7-response-output {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1100px) {
  .contact-home .all .widget form .wpcf7-response-output {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1600px) {
  .contact-home .all .widget form .wpcf7-response-output {
    font-size: 1.0625rem;
  }
}
.contact-home .all .widget form input[type=submit] {
  background-color: #F6572E;
  width: 50%;
  padding: 14px;
  border: none;
  border-radius: 0.625rem;
  font-size: 0.9375rem;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: tex_readventor;
  border: 2px solid transparent;
  cursor: pointer;
}
.contact-home .all .widget form input[type=submit]:hover {
  border: 2px solid #F6572E;
  background-color: transparent;
  color: #F6572E;
}
@media (min-width: 550px) {
  .contact-home .all .widget form input[type=submit] {
    font-size: 1rem;
    width: calc(50% - 10px);
  }
}
@media (min-width: 700px) {
  .contact-home .all .widget form input[type=submit] {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1100px) {
  .contact-home .all .widget form input[type=submit] {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1600px) {
  .contact-home .all .widget form input[type=submit] {
    font-size: 1.0625rem;
  }
}
.contact-home .all .widget form .wpcf7-list-item-label {
  color: #335C3C;
  cursor: pointer;
}
.contact-home .all .widget form .wpcf7-list-item,
.contact-home .all .widget form span {
  margin-left: 0px;
  margin-top: 12px;
  font-family: tex_readventor;
  font-size: 0.9375rem;
}
@media (min-width: 550px) {
  .contact-home .all .widget form .wpcf7-list-item,
  .contact-home .all .widget form span {
    font-size: 1rem;
  }
}
@media (min-width: 700px) {
  .contact-home .all .widget form .wpcf7-list-item,
  .contact-home .all .widget form span {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1100px) {
  .contact-home .all .widget form .wpcf7-list-item,
  .contact-home .all .widget form span {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1600px) {
  .contact-home .all .widget form .wpcf7-list-item,
  .contact-home .all .widget form span {
    font-size: 1.0625rem;
  }
}

@keyframes entryElement {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.footer_recetas {
  padding: 30px 10px;
}
@media (min-width: 550px) {
  .footer_recetas {
    max-width: 650px;
    margin: auto;
  }
}
@media (min-width: 901px) {
  .footer_recetas {
    max-width: 1220px;
    padding: 30px 10px;
  }
}
@media (min-width: 700px) {
  .footer_recetas {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
.footer_recetas .social {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
@media (min-width: 700px) {
  .footer_recetas .social {
    justify-content: flex-end;
    column-gap: 10px;
    margin-bottom: 0px;
  }
}
.footer_recetas .social a {
  display: flex;
  align-items: center;
}
.footer_recetas .social a img {
  max-width: 30px;
}
@media (min-width: 1100px) {
  .footer_recetas .social a img {
    max-width: 35px;
  }
}
.footer_recetas .derechos {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
@media (min-width: 700px) {
  .footer_recetas .derechos {
    align-items: flex-start;
  }
}
@media (min-width: 901px) {
  .footer_recetas .derechos {
    flex-flow: row;
  }
}
@media (min-width: 1100px) {
  .footer_recetas .derechos {
    column-gap: 30px;
  }
}
.footer_recetas .derechos img {
  max-width: 150px;
  margin-top: 9px;
}
@media (min-width: 901px) {
  .footer_recetas .derechos img {
    margin-top: 0px;
  }
}
.footer_recetas .derechos p {
  margin-top: 15px;
  font-size: 0.9375rem;
  font-family: tex_readventor;
  color: #335C3C;
}
@media (min-width: 550px) {
  .footer_recetas .derechos p {
    font-size: 1rem;
  }
}
@media (min-width: 700px) {
  .footer_recetas .derechos p {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1100px) {
  .footer_recetas .derechos p {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1600px) {
  .footer_recetas .derechos p {
    font-size: 1.0625rem;
  }
}

.ingredients_recetas {
  width: 100%;
  margin-top: 115px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}
@media (min-width: 550px) {
  .ingredients_recetas {
    max-width: 650px;
    margin: 115px auto auto auto;
  }
}
@media (min-width: 700px) {
  .ingredients_recetas {
    margin-top: 158px;
  }
}
@media (min-width: 901px) {
  .ingredients_recetas {
    max-width: 1220px;
  }
}
@media (min-width: 1100px) {
  .ingredients_recetas {
    margin-top: 150px;
  }
}
.ingredients_recetas .header_recetas {
  display: flex;
  flex-flow: column;
  row-gap: 10px;
}
@media (min-width: 901px) {
  .ingredients_recetas .header_recetas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: start;
  }
}
@media (min-width: 1100px) {
  .ingredients_recetas .header_recetas {
    grid-template-columns: 1.2fr 0.8fr;
    grid-gap: 30px;
  }
}
.ingredients_recetas .header_recetas .thumbnail.show {
  opacity: 1;
}
.ingredients_recetas .header_recetas .thumbnail.show img {
  transform: scale(1);
}
.ingredients_recetas .header_recetas .thumbnail {
  width: 100%;
  overflow: hidden;
  border-radius: 0.9375rem;
  opacity: 0;
  z-index: -1;
  transition: 0.8s ease;
}
@media (min-width: 901px) {
  .ingredients_recetas .header_recetas .thumbnail {
    flex-flow: row;
    align-items: flex-start;
    column-gap: 15px;
    position: sticky;
    top: 158px;
    height: auto;
    height: 100%;
    max-height: 70dvh;
  }
}
@media (min-width: 1100px) {
  .ingredients_recetas .header_recetas .thumbnail {
    position: sticky;
    top: 150px;
  }
}
.ingredients_recetas .header_recetas .thumbnail img {
  width: 100%;
  height: auto;
  display: block;
  transform: scale(1.5);
  transition: 1s ease;
  border-radius: 0.9375rem;
}
@media (min-width: 901px) {
  .ingredients_recetas .header_recetas .thumbnail img {
    height: 100%;
    object-fit: cover;
  }
}
.ingredients_recetas .header_recetas .content_header {
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 0.9375rem;
  padding-top: 10px;
}
@media (min-width: 901px) {
  .ingredients_recetas .header_recetas .content_header {
    height: auto;
    padding: 50px;
  }
}
.ingredients_recetas .header_recetas .content_header h1.show div {
  opacity: 1;
  transform: rotate3d(0, 0, 0, 0deg) translateY(0%);
}
.ingredients_recetas .header_recetas .content_header h1 {
  text-align: left;
  text-wrap: balance;
  font-family: chillow_regular;
  font-size: 2.5rem;
  color: #80BC00;
  padding-top: 20px;
  text-transform: lowercase;
}
@media (min-width: 901px) {
  .ingredients_recetas .header_recetas .content_header h1 {
    font-size: 3.125rem;
  }
}
@media (min-width: 1100px) {
  .ingredients_recetas .header_recetas .content_header h1 {
    font-size: 3.75rem;
  }
}
.ingredients_recetas .header_recetas .content_header h1 .letter {
  display: inline-block;
}
.ingredients_recetas .header_recetas .content_header h1 div {
  transition: 1s ease;
  opacity: 0;
  transform: rotate3d(-1, 0, 0, 85deg) translateY(-100%);
}
.ingredients_recetas .header_recetas .content_header .porciones {
  display: block;
  margin: 10px 0px 15px 0px;
  font-family: tex_readventor;
  color: #80BC00;
  font-size: 0.9375rem;
}
@media (min-width: 550px) {
  .ingredients_recetas .header_recetas .content_header .porciones {
    font-size: 1rem;
  }
}
@media (min-width: 700px) {
  .ingredients_recetas .header_recetas .content_header .porciones {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1100px) {
  .ingredients_recetas .header_recetas .content_header .porciones {
    font-size: 1.0625rem;
    margin-bottom: 25px;
  }
}
@media (min-width: 1600px) {
  .ingredients_recetas .header_recetas .content_header .porciones {
    font-size: 1.0625rem;
  }
}
.ingredients_recetas .header_recetas .content_header hr {
  border: none;
  height: 1px;
  background-color: #F6572E;
}
.ingredients_recetas .header_recetas .content_header h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: chillow_regular;
  color: #F6572E;
  font-size: 1.75rem;
  text-transform: lowercase;
}
@media (min-width: 901px) {
  .ingredients_recetas .header_recetas .content_header h2 {
    font-size: 2.1875rem;
    margin-top: 30px;
  }
}
@media (min-width: 1100px) {
  .ingredients_recetas .header_recetas .content_header h2 {
    font-size: 2.5rem;
  }
}
.ingredients_recetas .header_recetas .content_header .content {
  font-family: tex_readventor;
  color: #225D38;
  font-size: 0.9375rem;
}
@media (min-width: 550px) {
  .ingredients_recetas .header_recetas .content_header .content {
    font-size: 1rem;
  }
}
@media (min-width: 700px) {
  .ingredients_recetas .header_recetas .content_header .content {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1100px) {
  .ingredients_recetas .header_recetas .content_header .content {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1600px) {
  .ingredients_recetas .header_recetas .content_header .content {
    font-size: 1.0625rem;
  }
}
.ingredients_recetas .instructions {
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 0.9375rem;
  margin-top: 10px;
  width: 100%;
}
@media (min-width: 901px) {
  .ingredients_recetas .instructions {
    padding: 50px;
    margin-top: 30px;
  }
}
@media (min-width: 1100px) {
  .ingredients_recetas .instructions {
    display: flex;
    flex-flow: row;
    column-gap: 55px;
  }
}
.ingredients_recetas .instructions hr {
  border: none;
  height: 1px;
  background-color: #F6572E;
  margin-bottom: 10px;
}
@media (min-width: 1100px) {
  .ingredients_recetas .instructions hr {
    width: 50%;
    height: 2px;
  }
}
.ingredients_recetas .instructions h2 {
  margin-bottom: 15px;
  font-family: chillow_regular;
  color: #F6572E;
  font-size: 1.75rem;
  text-transform: lowercase;
}
@media (min-width: 901px) {
  .ingredients_recetas .instructions h2 {
    font-size: 2.1875rem;
  }
}
@media (min-width: 1100px) {
  .ingredients_recetas .instructions h2 {
    font-size: 2.5rem;
  }
}
.ingredients_recetas .instructions .content {
  font-family: tex_readventor;
  color: #225D38;
  font-size: 0.75rem;
}
@media (min-width: 550px) {
  .ingredients_recetas .instructions .content {
    font-size: 0.8125rem;
  }
}
@media (min-width: 700px) {
  .ingredients_recetas .instructions .content {
    font-size: 0.875rem;
  }
}
@media (min-width: 1100px) {
  .ingredients_recetas .instructions .content {
    font-size: 0.9375rem;
  }
}
@media (min-width: 1600px) {
  .ingredients_recetas .instructions .content {
    font-size: 1rem;
  }
}

.history_section {
  margin-top: 20px;
  background-color: #AEDB68;
  padding: 30px 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
@media (min-width: 901px) {
  .history_section {
    margin-top: 50px;
    padding-top: 50px;
  }
}
@media (min-width: 1100px) {
  .history_section {
    margin-top: 60px;
    padding-top: 60px;
  }
}
.history_section h2.show div {
  opacity: 1;
  transform: rotate3d(0, 0, 0, 0deg) translateY(0%);
}
.history_section h2 {
  background-color: #F1F7E7;
  width: fit-content;
  padding: 10px;
  border-radius: 0.625rem;
  color: #225D38;
  font-family: chillow_regular;
  padding-top: 14px;
  font-size: 1.75rem;
  text-transform: lowercase;
}
.history_section h2 div {
  transition: 1s ease;
  opacity: 0;
  transform: rotate3d(-1, 0, 0, 85deg) translateY(-100%);
}
.history_section h2 .letter {
  display: inline-block;
}
@media (min-width: 901px) {
  .history_section h2 {
    font-size: 2.8125rem;
    padding-top: 17px;
  }
}
@media (min-width: 1100px) {
  .history_section h2 {
    font-size: 3.125rem;
    padding-top: 19px;
  }
}
@media (min-width: 550px) {
  .history_section .img {
    max-width: 650px;
    margin: auto;
    pointer-events: none;
    user-select: none;
  }
}
@media (min-width: 901px) {
  .history_section .img {
    max-width: 1220px;
  }
}
.history_section .img img {
  width: 100%;
  height: auto;
  margin-top: 15px;
  transform: translateY(15%) scale(0.7);
  opacity: 0;
  transition: 0.7s ease;
}
.history_section .img img.show {
  transform: translateY(0%) scale(1);
  opacity: 1;
}
.history_section .img .mobile {
  display: block;
}
@media (min-width: 700px) {
  .history_section .img .mobile {
    display: none;
  }
}
.history_section .img .escritorio {
  display: none;
}
@media (min-width: 700px) {
  .history_section .img .escritorio {
    display: block;
  }
}

.information_section {
  padding: 30px 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
@media (min-width: 901px) {
  .information_section {
    padding-top: 50px;
  }
}
@media (min-width: 1100px) {
  .information_section {
    padding-top: 60px;
  }
}
.information_section h2.show div {
  opacity: 1;
  transform: rotate3d(0, 0, 0, 0deg) translateY(0%);
}
.information_section h2 {
  background-color: #AEDB68;
  width: fit-content;
  padding: 10px;
  border-radius: 0.625rem;
  color: #225D38;
  font-family: chillow_regular;
  padding-top: 14px;
  font-size: 1.75rem;
  text-transform: lowercase;
}
.information_section h2 div {
  transition: 1s ease;
  opacity: 0;
  transform: rotate3d(-1, 0, 0, 85deg) translateY(-100%);
}
.information_section h2 .letter {
  display: inline-block;
}
@media (min-width: 901px) {
  .information_section h2 {
    font-size: 2.8125rem;
    padding-top: 17px;
  }
}
@media (min-width: 1100px) {
  .information_section h2 {
    font-size: 3.125rem;
    padding-top: 19px;
  }
}
@media (min-width: 550px) {
  .information_section .img {
    max-width: 650px;
    margin: auto;
    pointer-events: none;
    user-select: none;
  }
}
@media (min-width: 901px) {
  .information_section .img {
    max-width: 1220px;
  }
}
.information_section .img img {
  width: 100%;
  height: auto;
  margin-top: 15px;
  transform: translateY(15%) scale(0.7);
  opacity: 0;
  transition: 0.7s ease;
}
.information_section .img img.show {
  transform: translateY(0%) scale(1);
  opacity: 1;
}
.information_section .img .mobile {
  display: block;
}
@media (min-width: 700px) {
  .information_section .img .mobile {
    display: none;
  }
}
.information_section .img .escritorio {
  display: none;
}
@media (min-width: 700px) {
  .information_section .img .escritorio {
    display: block;
  }
}

.bienestar_section {
  background-color: #AEDB68;
  padding: 30px 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 50px;
}
@media (min-width: 901px) {
  .bienestar_section {
    padding-top: 50px;
  }
}
@media (min-width: 1100px) {
  .bienestar_section {
    padding-top: 60px;
  }
}
.bienestar_section .bienestar {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 550px) {
  .bienestar_section .bienestar {
    max-width: 650px;
    margin: auto;
  }
}
@media (min-width: 901px) {
  .bienestar_section .bienestar {
    max-width: 1220px;
  }
}
@media (min-width: 1100px) {
  .bienestar_section .bienestar {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
  }
}
.bienestar_section .image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 550px) {
  .bienestar_section .image {
    max-width: 400px;
  }
}
.bienestar_section .image .sombra {
  position: absolute;
  border-radius: 50%;
  width: 40%;
  height: 40%;
  background-color: #d1ff8d;
  box-shadow: 0px 0px 74px 56px #d1ff8d;
}
.bienestar_section .image img {
  width: 100%;
  height: auto;
  z-index: 99;
  transform: translateY(15%) scale(0.7);
  opacity: 0;
  transition: 0.7s ease;
}
.bienestar_section .image img.show {
  transform: translateY(0%) scale(1);
  opacity: 1;
}
.bienestar_section .bienestar_content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.bienestar_section .bienestar_content h2.show div {
  opacity: 1;
  transform: rotate3d(0, 0, 0, 0deg) translateY(0%);
}
.bienestar_section .bienestar_content h2 {
  background-color: #F1F7E7;
  width: fit-content;
  padding: 10px;
  border-radius: 0.625rem;
  color: #225D38;
  font-family: chillow_regular;
  padding-top: 14px;
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 25px;
  text-transform: lowercase;
}
.bienestar_section .bienestar_content h2 div {
  transition: 1s ease;
  opacity: 0;
  transform: rotate3d(-1, 0, 0, 85deg) translateY(-100%);
}
.bienestar_section .bienestar_content h2 .letter {
  display: inline-block;
}
@media (min-width: 901px) {
  .bienestar_section .bienestar_content h2 {
    font-size: 2.8125rem;
    padding-top: 17px;
  }
}
@media (min-width: 1100px) {
  .bienestar_section .bienestar_content h2 {
    font-size: 3.125rem;
    padding-top: 19px;
  }
}
.bienestar_section .bienestar_content h3.show div {
  opacity: 1;
  transform: rotate3d(0, 0, 0, 0deg) translateY(0%);
}
.bienestar_section .bienestar_content h3 {
  color: #F1F7E7;
  font-family: chillow_regular;
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 15px;
  text-transform: lowercase;
}
.bienestar_section .bienestar_content h3 div {
  text-wrap: balance;
  transition: 1s ease;
  opacity: 0;
  transform: rotate3d(-1, 0, 0, 85deg) translateY(-100%);
}
.bienestar_section .bienestar_content h3 .letter {
  display: inline-block;
}
@media (min-width: 901px) {
  .bienestar_section .bienestar_content h3 {
    font-size: 2.8125rem;
    padding-top: 17px;
  }
}
@media (min-width: 1100px) {
  .bienestar_section .bienestar_content h3 {
    font-size: 3.125rem;
    padding-top: 19px;
  }
}
.bienestar_section .bienestar_content .content {
  font-family: tex_readventor;
  color: #225D38;
  font-size: 0.9375rem;
  text-align: center;
}
@media (min-width: 550px) {
  .bienestar_section .bienestar_content .content {
    font-size: 1rem;
  }
}
@media (min-width: 700px) {
  .bienestar_section .bienestar_content .content {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1100px) {
  .bienestar_section .bienestar_content .content {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1600px) {
  .bienestar_section .bienestar_content .content {
    font-size: 1.0625rem;
  }
}

.comments {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  margin-top: 30px;
}
@media (min-width: 550px) {
  .comments {
    max-width: 650px;
    margin: auto;
    margin-top: 30px;
  }
}
@media (min-width: 901px) {
  .comments {
    max-width: 1220px;
  }
}
.comments .content {
  display: flex;
  flex-flow: column;
  row-gap: 10px;
  width: 100%;
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 0.9375rem;
}
@media (min-width: 901px) {
  .comments .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
  }
}
@media (min-width: 1100px) {
  .comments .content {
    grid-template-columns: 0.8fr 1.2fr;
    grid-gap: 30px;
    align-items: center;
  }
}
@media (min-width: 1100px) {
  .comments .content .all_cucharitas {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-gap: 10px;
  }
}
.comments .content h2.show div {
  opacity: 1;
  transform: rotate3d(0, 0, 0, 0deg) translateY(0%);
}
.comments .content h2 {
  text-align: center;
  text-wrap: balance;
  font-family: chillow_regular;
  font-size: 2.8125rem;
  color: #225D38;
  margin-bottom: 10px;
  text-transform: lowercase;
}
.comments .content h2 .letter {
  display: inline-block;
}
@media (min-width: 901px) {
  .comments .content h2 {
    font-size: 3.4375rem;
  }
}
@media (min-width: 1100px) {
  .comments .content h2 {
    font-size: 4.0625rem;
  }
}
.comments .content h2 div {
  transition: 1s ease;
  opacity: 0;
  transform: rotate3d(-1, 0, 0, 85deg) translateY(-100%);
}
@media (min-width: 901px) {
  .comments .content .full_name {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
.comments .content .comment-respond form {
  width: 100%;
}
.comments .content .comment-respond form input,
.comments .content .comment-respond form textarea {
  width: 100%;
  font-family: tex_readventor;
  padding: 15px;
  outline: none;
  background-color: #F1F7E7;
  color: #80BC00;
  border: 1px solid transparent;
  transition: 0.2s ease;
  border-radius: 0.625rem;
  font-size: 0.9375rem;
  margin-bottom: 10px;
  resize: none;
}
@media (min-width: 550px) {
  .comments .content .comment-respond form input,
  .comments .content .comment-respond form textarea {
    font-size: 1rem;
  }
}
@media (min-width: 700px) {
  .comments .content .comment-respond form input,
  .comments .content .comment-respond form textarea {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1100px) {
  .comments .content .comment-respond form input,
  .comments .content .comment-respond form textarea {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1600px) {
  .comments .content .comment-respond form input,
  .comments .content .comment-respond form textarea {
    font-size: 1.0625rem;
  }
}
.comments .content .comment-respond form input::placeholder,
.comments .content .comment-respond form textarea::placeholder {
  color: #80BC00;
  transition: 0.2s ease;
  font-size: 0.9375rem;
}
@media (min-width: 550px) {
  .comments .content .comment-respond form input::placeholder,
  .comments .content .comment-respond form textarea::placeholder {
    font-size: 1rem;
  }
}
@media (min-width: 700px) {
  .comments .content .comment-respond form input::placeholder,
  .comments .content .comment-respond form textarea::placeholder {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1100px) {
  .comments .content .comment-respond form input::placeholder,
  .comments .content .comment-respond form textarea::placeholder {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1600px) {
  .comments .content .comment-respond form input::placeholder,
  .comments .content .comment-respond form textarea::placeholder {
    font-size: 1.0625rem;
  }
}
.comments .content .comment-respond form input:focus,
.comments .content .comment-respond form textarea:focus {
  border: 1px solid #80BC00;
}
.comments .content .comment-respond form .comment-form-review {
  background-color: #F1F7E7;
  border-radius: 0.625rem;
  padding: 15px;
  margin-bottom: 10px;
}
@media (min-width: 901px) {
  .comments .content .comment-respond form .comment-form-review {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
@media (min-width: 1100px) {
  .comments .content .comment-respond form .comment-form-review {
    margin-bottom: 0px;
  }
}
.comments .content .comment-respond form .comment-form-review .cucharas {
  display: flex;
  margin-top: 10px;
}
@media (min-width: 1100px) {
  .comments .content .comment-respond form .comment-form-review .cucharas {
    justify-content: flex-end;
  }
}
.comments .content .comment-respond form .comment-form-review .cucharas div {
  cursor: pointer;
  padding-left: 10px;
}
.comments .content .comment-respond form .comment-form-review .cucharas div svg {
  width: 25px;
  height: auto;
}
.comments .content .comment-respond form .comment-form-review .cucharas div svg path {
  fill: #c8c8c8;
  transition: 0.2s ease;
}
.comments .content .comment-respond form .comment-form-review .cucharas div.hover svg path {
  fill: #80BC00;
}
.comments .content .comment-respond form .comment-form-review .cucharas div.active svg path {
  fill: #80BC00;
}
.comments .content .comment-respond form .comment-form-review label {
  font-size: 0.9375rem;
  margin-bottom: 10px;
  font-family: tex_readventor;
  color: #80BC00;
}
@media (min-width: 550px) {
  .comments .content .comment-respond form .comment-form-review label {
    font-size: 1rem;
  }
}
@media (min-width: 700px) {
  .comments .content .comment-respond form .comment-form-review label {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1100px) {
  .comments .content .comment-respond form .comment-form-review label {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1600px) {
  .comments .content .comment-respond form .comment-form-review label {
    font-size: 1.0625rem;
  }
}
.comments .content .comment-respond form .comment-form-review input {
  display: none;
}
.comments .content .comment-respond form .form-submit input[type=submit] {
  background-color: #F6572E;
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 0.625rem;
  font-size: 0.9375rem;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: tex_readventor;
  border: 2px solid transparent;
  cursor: pointer;
  margin-top: 15px;
}
.comments .content .comment-respond form .form-submit input[type=submit]:disabled {
  opacity: 0.6;
  pointer-events: none;
}
.comments .content .comment-respond form .form-submit input[type=submit]:hover {
  border: 2px solid #F6572E;
  background-color: transparent;
  color: #F6572E;
}
@media (min-width: 550px) {
  .comments .content .comment-respond form .form-submit input[type=submit] {
    font-size: 1rem;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
@media (min-width: 700px) {
  .comments .content .comment-respond form .form-submit input[type=submit] {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1100px) {
  .comments .content .comment-respond form .form-submit input[type=submit] {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1600px) {
  .comments .content .comment-respond form .form-submit input[type=submit] {
    font-size: 1.0625rem;
  }
}
.comments .content .comment-respond form input:focus::placeholder,
.comments .content .comment-respond form textarea:focus::placeholder {
  color: #F1F7E7;
}
@media (min-width: 550px) {
  .comments .content .comment-respond .column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
@media (min-width: 1100px) {
  .comments .content .comment-respond .column {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
}
.comments .content .comment-respond .show_review {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-width: 400px;
  background-color: #80BC00;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 0.4375rem;
  column-gap: 10px;
  margin: auto;
  font-family: tex_readventor;
  margin-bottom: 10px;
  font-size: 0.9375rem;
  resize: none;
  pointer-events: none;
  user-select: none;
}
@media (min-width: 550px) {
  .comments .content .comment-respond .show_review {
    margin: initial;
    max-width: 200px;
    width: 100%;
    max-width: 100%;
  }
}
@media (min-width: 550px) {
  .comments .content .comment-respond .show_review {
    font-size: 1rem;
  }
}
@media (min-width: 700px) {
  .comments .content .comment-respond .show_review {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1100px) {
  .comments .content .comment-respond .show_review {
    font-size: 1.0625rem;
  }
}
.comments .content .comment-respond .show_review div {
  cursor: pointer;
}
.comments .content .comment-respond .show_review svg {
  width: 5px;
  height: auto;
}
.comments .content .comment-respond .show_review svg path {
  fill: #FFFFFF;
}

.successfull_message.remove {
  opacity: 0;
}
.successfull_message.remove .content {
  transform: translateY(-30%);
}

.successfull_message.show {
  display: flex;
}

.successfull_message {
  position: fixed;
  top: 0px;
  transition: 0.4s ease;
  left: 0px;
  width: 100dvw;
  height: 100dvh;
  z-index: 99;
  background-color: rgba(241, 247, 231, 0.5882352941);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  overflow: 1;
  display: none;
  animation: showMessage 0.4s ease 1;
}
@keyframes showMessage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.successfull_message .content {
  background-color: #80BC00;
  width: 90dvw;
  max-height: 50dvh;
  border-radius: 1.25rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  row-gap: 20px;
  align-items: center;
  padding: 35px 20px;
  position: relative;
  max-width: 550px;
  transition: 0.4s ease;
  transform: translateY(0%);
  animation: showContent 0.4s ease 1;
}
@keyframes showContent {
  0% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  }
}
.successfull_message .content button {
  cursor: pointer;
}
.successfull_message .content .close {
  position: absolute;
  top: 35px;
  right: 20px;
  border: none;
  background-color: transparent;
}
.successfull_message .content .close svg {
  width: 25px;
  height: auto;
  color: #FFFFFF;
}
.successfull_message .content h3 {
  font-size: 4.0625rem;
  font-family: chillow_regular;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin-top: 0px;
}
@media (min-width: 550px) {
  .successfull_message .content h3 {
    font-size: 4.375rem;
  }
}
@media (min-width: 700px) {
  .successfull_message .content h3 {
    font-size: 4.6875rem;
  }
}
@media (min-width: 901px) {
  .successfull_message .content h3 {
    font-size: 5rem;
  }
}
@media (min-width: 1100px) {
  .successfull_message .content h3 {
    font-size: 5.625rem;
  }
}
@media (min-width: 1600px) {
  .successfull_message .content h3 {
    font-size: 5.9375rem;
  }
}
.successfull_message .content .message p {
  font-family: tex_readventor;
  color: #FFFFFF;
  font-size: 0.9375rem;
}
@media (min-width: 550px) {
  .successfull_message .content .message p {
    font-size: 1rem;
  }
}
@media (min-width: 700px) {
  .successfull_message .content .message p {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1100px) {
  .successfull_message .content .message p {
    font-size: 1.0625rem;
  }
}
@media (min-width: 1600px) {
  .successfull_message .content .message p {
    font-size: 1.1875rem;
  }
}
.successfull_message .content .button_close {
  background-color: #225D38;
  color: #FFFFFF;
  width: 100%;
  padding: 10px;
  border-radius: 0.4375rem;
  border: none;
  font-size: 1.0625rem;
  font-family: tex_readventor;
  border: 2px solid transparent;
  transition: 0.2s ease;
}
.successfull_message .content .button_close:hover {
  border: 2px solid #225D38;
  background-color: transparent;
  color: #225D38;
}
@media (min-width: 550px) {
  .successfull_message .content .button_close {
    width: fit-content;
    padding: 10px 20px;
  }
}
.successfull_message .content .box_close {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 550px) {
  .successfull_message .content .box_close {
    justify-content: flex-end;
  }
}

.loading.capa_remove .capas .load {
  background-color: #225D38;
}

.loading.remove {
  opacity: 0;
}
.loading.remove h4 {
  transform: translateY(-30%);
  opacity: 0;
}

.loading {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #225D38;
  width: 100dvw;
  height: 100dvh;
  z-index: 99999;
  padding: 30px;
  display: flex;
  align-items: flex-end;
  transition: 0.7s ease;
  opacity: 1;
}
.loading h4 {
  font-size: 2.1875rem;
  font-family: chillow_regular;
  text-transform: lowercase;
  color: #FFFFFF;
  transform: translateY(0%);
  transition: 0.5s ease;
  opacity: 1;
}
.loading .capas {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading .capas .load {
  position: fixed;
  width: 200dvh;
  height: 200dvh;
  background-color: #80BC00;
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s ease;
  animation: loadingAnimation 2s ease infinite;
}
@keyframes loadingAnimation {
  0% {
    width: 0dvh;
    height: 0dvh;
    opacity: 0;
  }
  25% {
    width: 0dvh;
    height: 0dvh;
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    width: 200dvh;
    height: 200dvh;
    opacity: 0;
  }
}

html {
  scrollbar-gutter: stable;
}

body {
  background-color: #F1F7E7;
  overflow-x: hidden;
  position: relative;
}

main {
  position: relative;
}

.elementor-location-header {
  z-index: 99999 !important;
}

video,
.mejs-container-fullscreen video {
  width: auto !important;
  height: auto !important;
}

mediaelementwrapper {
  justify-content: center;
}

/*# sourceMappingURL=global.css.map */
